{{#if pagination.has_multiple_pages}}
  <div class="pagination-wrap">
    <nav class="pagination" aria-label="Pagination">
      {{#if pagination.has_prev}}<a href="{{pagination.prev_url}}" class="prev"><svg class="icon icon--inline" width="18" height="18" aria-hidden="true" focusable="false"><use href="#icon-arrow-left"/></svg> Previous</a>{{#else}}<span class="prev disabled" role="link" aria-disabled="true"><svg class="icon icon--inline" width="18" height="18" aria-hidden="true" focusable="false"><use href="#icon-arrow-left"/></svg> Previous</span>{{/if}}
      <span class="pages">
        {{#for page in pagination.window}}
          {{#if_eq page.kind "gap"}}
            <span class="page-gap" aria-hidden="true">…</span>
          {{#else_if_eq page.kind "page"}}
            <a href="{{page.url}}" class="page-link {{#if page.current}}current{{/if}}">{{page.number}}</a>
          {{/if}}
        {{/for}}
      </span>
      {{#if pagination.has_next}}<a href="{{pagination.next_url}}" class="next">Next <svg class="icon icon--inline" width="18" height="18" aria-hidden="true" focusable="false"><use href="#icon-arrow-right"/></svg></a>{{#else}}<span class="next disabled" role="link" aria-disabled="true">Next <svg class="icon icon--inline" width="18" height="18" aria-hidden="true" focusable="false"><use href="#icon-arrow-right"/></svg></span>{{/if}}
    </nav>
  </div>
{{/if}}
